*{
  font-family: 'Rampart One', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
  background-color: #E1C7FF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}